html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #2B2B2B;
    color: white;
    margin-top: 19px;
}

.form-body {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 60px;
    font-weight: 100;
    margin: 2%;
    padding: 0;
    color: #D22030;
    text-align: center;
}

input {
    display: block;
    padding: 8px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

.btn {
    font-family: Trebuchet, Arial, sans-serif;
    display: block;
    padding: 10px 30px;
    font-size: 1em;
    border-width: 0;
    margin: auto;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #e74c3c;
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn:hover {
    cursor: pointer;
    background-color: #c0392b;
}

.help {
    padding: 20px;
    text-align: center;
}

.help p:first-child {
    font-size: 30px;
    margin-top: 0;
}

#response {
    text-align: center;
    margin-bottom: 0;
}